body {
  margin: 0;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 18px;
  background-color: #282a36;
  color: #f8f8f2;
}

h1 {
  font-family: "Abril Text";
  font-weight: 700;
  color: #ff79c6;
}

.App {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
}

p {
  margin: 0;
}

input {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  margin: 0 auto;
  color: #f8f8f2;
  border-radius: 4px;
  text-align: center;
  background: #6272a4;
  /* font-weight: 300; */
  cursor: pointer;
  padding: 10px 18px;
  font-size: 18px;
  border: 0 !important;
  text-decoration-line: none !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
